.page {
/*    position: relative;
    display: flex;
    flex-direction: column;*/
    /* Set .page as a flex container */
    display: flex;
    flex-direction: row;
    /* The main container should span the full viewport height */
    height: 100vh;
}

main {
/*    flex: 1;*/
    /* The main content area should take up all remaining horizontal space */
    flex-grow: 1;
    /* The main area must also be a flex container to manage its children vertically */
    display: flex;
    flex-direction: column;
    /* Make it fill the available height */
    height: 100%;
    overflow-y: auto; /* Allows content area to scroll if needed */
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
/*        padding-left: 2rem !important;*/
/*        padding-right: 1.5rem !important;*/
    }
}
article {
/*    margin: 0px;
    padding: 0px;*/
    /* This is the div that contains @Body content (your page) */
    flex-grow: 1; /* Make the article grow to fill ALL remaining vertical space */
    display: flex; /* Optional: Useful if your page content needs to use flexbox */
    flex-direction: column;
    padding: 0; /* Remove default padding that might restrict height */
    height: 100%; /* Important: Tell it to fill the height of its parent (main) */
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
