@page "/accordian"
@* @using Chatty2.Services *@
@inject Radzen.NotificationService NotificationService

<div class="accordian-container">
    <span style="padding-left:10px;">Accordion</span>


    <section class="accordion">

        <div class="accordion__header">
            <span class="accordion__icon-wrapper" @onclick="ToggleAccordion1">
                @(IsExpanded1 ? "-" : "+")
            </span>
            <span class="accordion__title-text">Condition 1:</span>
            <InputText @bind-Value="ConditionTitle1" class="accordion__title-input" />
        </div>

        @if (IsExpanded1)
        {
            <div class="accordion__content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
            </div>
        }
    </section>


    <section class="accordion">

        <div class="accordion__header">
            <span class="accordion__icon-wrapper" @onclick="ToggleAccordion2">
                @(IsExpanded2 ? "-" : "+")
            </span>
            <span class="accordion__title-text">Condition 2:</span>
            <InputText @bind-Value="ConditionTitle1" class="accordion__title-input" />
        </div>

        @if (IsExpanded2)
        {
            <div class="accordion__content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
            </div>
        }
    </section>


    <section class="accordion">

        <div class="accordion__header">
            <span class="accordion__icon-wrapper" @onclick="ToggleAccordion3">
                @(IsExpanded3 ? "-" : "+")
            </span>
            <span class="accordion__title-text">Condition 3:</span>
            <InputText @bind-Value="ConditionTitle1" class="accordion__title-input" />
        </div>

        @if (IsExpanded3)
        {
            <div class="accordion__content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
            </div>
        }
    </section>

   
</div>



@code {
    // 1. New property to track the state of the first accordion item
    public bool IsExpanded1 { get; set; } = false;
    public bool IsExpanded2 { get; set; } = false;
    public bool IsExpanded3 { get; set; } = false;


    // 2. Property to hold the value of the input box
    public string ConditionTitle1 { get; set; } = "A bus present on n/b approach...";

    // 3. Method to toggle the state when the header is clicked
    private void ToggleAccordion1()
    {
        IsExpanded1 = !IsExpanded1;
    }
    private void ToggleAccordion2()
    {
        IsExpanded2 = !IsExpanded2;
    }
    private void ToggleAccordion3()
    {
        IsExpanded3 = !IsExpanded3;
    }

    protected override async Task OnInitializedAsync()
    {
    }
}

<style>
    .accordian-container {
        height: 100%;
        border: 1px solid red;
        border-radius: 5px;
        /* display: flex; */
        /* flex-direction: column; */
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        overflow-y: auto;
    }

    .accordion {
        border: 1px solid green;
        border-radius: 5px;
        overflow: hidden; /* ensures clean edge border radius*/
        min-height: 3em;
    }

    .accordion__header {
        display: flex;
        align-items: center;
        padding: 5px;
        background: #e8e8e8;
        min-height: 3em;
    }

    .accordion__icon-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid #777;
        border-radius: 4px;
        margin-right: 10px;
        font-size: 1.2em;
        line-height: 1.2em; /* Line height should match height for vertical centering */
        font-weight: bold;
        cursor: pointer;
        flex-shrink: 0; /* Ensures the icon doesn't shrink when space is tight */
    }

        .accordion__icon-wrapper:hover {
            font-weight:900;
        }

    .accordion__title-text {
        padding-right: 10px;
   
    }

    .accordion__title-input {
        flex: 1 1 auto; /* allow grow and shrink */
        padding: 5px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        cursor: text;
    }

    /* Collapsible Content (Visible State) */
    .accordion__content {
        padding: 15px;
        border: 1px solid #e8e8e8;
        border-top: 0;
        background: #fff;
    }

        /* Last child padding fix */
        .accordion__content p:last-child {
            margin-bottom: 0;
        }
</style>