@page "/splitter"

<div class="splitter-container">

    <RadzenSplitter Collapse=@OnCollapse Expand=@OnExpand style="height: 100%; border: 1px solid blue;">
        
        <RadzenSplitterPane Size="50%" Min="30px" Max="70%">
            <MessageBoard />
        </RadzenSplitterPane>

        <RadzenSplitterPane>
            <Accordion />
        </RadzenSplitterPane>

    </RadzenSplitter>

</div>


@code {

    void OnCollapse(RadzenSplitterEventArgs args)
    {
        Console.WriteLine($"Pane {args.PaneIndex} Collapse");
    }

    void OnExpand(RadzenSplitterEventArgs args)
    {
        Console.WriteLine($"Pane {args.PaneIndex} Expand");
    }

    void OnResize(RadzenSplitterResizeEventArgs args)
    {
        Console.WriteLine($"Pane {args.PaneIndex} Resize (New size {args.NewSize})");
    }

    void OnCollapseDisabled(RadzenSplitterEventArgs args)
    {
        args.Cancel = true;
        Console.WriteLine($"Pane {args.PaneIndex} Collapse programmatically disabled");
    }

    void OnResizeDisabled(RadzenSplitterResizeEventArgs args)
    {
        args.Cancel = true;
        Console.WriteLine($"Pane {args.PaneIndex} Resize (New size {args.NewSize}) programmatically disabled");
    }

}


<style>

    .splitter-container {
        height: 100%;
        margin: 10px;
        padding: 0px;
    }
    /* IMPORTANT: The RadzenSplitter itself already has 'style="height: 100%;"'
                   which allows it to fill this container.
                */


</style>